:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-black: #000;
}

html {
    font-size: 70.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-red);
    z-index: 10;
}

.nav-list {
    display: flex;
}

ul {
    list-style: none;
}

.nav-list a {
    display: block;
    font-size: 2.5rem;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-black);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    font-weight: 300;
    text-align: center;
}

.welcome-section>p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}

.projects {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}

.project{
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.project:hover{
    transform: scale(1.1);
    background-color: gray;
}

.project-title{
    font-size: 2rem;
}

.project-section {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 4rem;
    text-decoration: underline;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-img {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

img {
    display: block;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn-show-all{
    font-size: 2rem;
    background: var(--main-gray);
    /* transition: background-color 0.5s ease-out; */
}

.btn-show-all:hover{
    transform: scaleX(1.1);
    background-color: grey;
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: 0 2rem;
    background: var(--main-gray);
}

.wrapper .icon{
    position: relative;
    background-color: var(--main-white);
    border-radius: 50%;
    margin: 40px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 27px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0px;
    line-height: 1.5;
    font-size: 15px;
    /* background-color: var(--main-white); */
    color: var(--main-white);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: var(--main-white);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: var(--main-white);
  }
  .wrapper .codepen:hover,
  .wrapper .codepen:hover .tooltip,
  .wrapper .codepen:hover .tooltip::before {
    background-color: #46c1f6;
    color: var(--main-white);
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: var(--main-white);
  }
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: var(--main-white);
  }
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: var(--main-white);

  }


@media (max-width: 75rem) {
    html {
        box-sizing: border-box;
        font-size: 60%;
    }

    body{
        max-width: 100%;
        max-height: 100vh;
    }

    nav{
        display: flex;
        justify-content: center;
        position: fixed;
    }
}
